body {
	width: 1100px;
	margin: 0 auto;
	font: normal 18px "Roboto Condensed", sans-serif;
	background: linear-gradient(to bottom, #d2dcbf, #fbfff5);
	color: #336666;
	line-height: 23px;
}

header {
	width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

h1 {
	font-size: 36px;
	font-weight: normal;
	color: #003333;
	padding: 50px 0 30px 110px;
	margin: 20px 118px 20px 0;
	background: url("img/icon.png") no-repeat;
	/*float: left;*/
	display: inline-block;
}

ul {
	/*float: right;*/
	display: inline-block;
	vertical-align: bottom;
}

li {
	display: inline;
}

li a {
	display: inline-block;
	padding: 15px 40px 15px 40px;
	text-decoration: none;
	background-color: #fcfff5;
	color: #91aa9d;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

a.active {
	background-color: #91aa9d;
	color: #fcfff5;
}

main {
	width: 960px;
	padding: 30px;
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #ffffff;
	box-shadow: 0px 5px 5px #b5b5b5;
	overflow: hidden;
}

h2 {
	font-size: 32px;
	color: #336666;
	margin: 40px 0 25px 0;
}

p {
	margin-bottom: 20px;
}

#marsh_img {
	width: 900px;
}

#bw_tree {
	width: 330px;
	float: right;
	padding: 0 0 0 30px;
}

footer {
	width: 960px;
	margin: 15px auto;
	font-size: 14px;
	color: #336666;
}